#header{
    width: 100%;
    height:140px;
    position: sticky;
     top : -10px;
}
.page1{
    width: 100%;
    height:800px;
}
.page2{
    width: 100%;
    height:700px;
}
.page3{
    width: 100%;
    height:500px;
}
.page4{
    width: 100%;
    height:600px;
}
.page5{
    width: 100%;
    height:720px;
}
.page6{
    width: 100%;
    height:700px;
}
.page7{
    width: 100%;
    height:830px;
}
.page8{
    width: 100%;
    height:550px;
}
.footer{
    width: 100%;
    height:830px;
}

   
